<br>
<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
    <div class="container">
    
      <h3>Frequently Asked Questions </h3>
      At UrbanFabrics our mission is to provide unequalled customer service and maintain a personal relationship with you. If you have any questions at all, please do not hesitate to contact us (+91 7888773538) and we will get back to you as soon as possible.
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
          What is estimated delivery time?
          </a>
        </h3>
        </div>
        <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
        <div class="panel-body px-3 mb-4">
          <p> All orders placed will be delivered within 24 hours.</p> One Of our executive will get in touch with you as soon as order is placed.
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
          How Payment is to be done?
          </a>
        </h3>
        </div>
        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
        <div class="panel-body px-3 mb-4">
          <p>Payments can be done via cash or cards. Our executive would have POS machines with them.</p>
        </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
        <h3 class="panel-title">
          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
          What is the delivery cost ?
          </a>
        </h3>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
        <div class="panel-body px-3 mb-4">
          <p>As we are based out of tricity all bulk order delivery would be free. </p>
        </div>
        </div>
      </div>
      

      </div>
    
    </div>
  </section>