<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45 bottom">

  <div class="t-center p-l-15 p-r-15">
    <div class="t-center s-text8 p-t-20">
      <h6> GET IN TOUCH </h6>
      <p class="s-text7 w-size27">
        Any questions? Let us know via call us on (+91) 9988393255
      </p>
    </div>
  </div>


  <div class="flex-m p-t-30">
    <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
    <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
    <a href="#" class="fs-18 color1 p-r-20 fa fa-pinterest-p"></a>
    <a href="#" class="fs-18 color1 p-r-20 fa fa-snapchat-ghost"></a>
    <a href="#" class="fs-18 color1 p-r-20 fa fa-youtube-play"></a>
  </div>

  <div class="t-center p-l-15 p-r-15">
    <div class="t-center s-text8 p-t-20">
      Copyright © 2018 All rights reserved.
    </div>
  </div>
</footer>
